<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="shortcut icon" href="../static/images/bugbustes3.png">
    <title>Fast AI</title>
</head>
<body>
    <div class="head01">
        <form class="form1" action="login"><button class="but1 type2 font1">Войти</button></form>
        <form class="form1" action="register"><button class="but1 font1">Зарегистрироваться</button></form>
    </div>
    <div class="main-st">
        <span class="h1 font1">BugBusters</span>
        <div class="row">
            <div>
                <div class="base font1">Команда разработчиков работающая над многими проектами или “6 нулей”</div>
                <div class="base font1">rem ipsum dolor sit amet consectetur. Sed interdum fames at tellus. Non malesuada ut curabitur 
                    eget duis in. Imperdiet facilisi risus cursus purus risus tortor sit accumsan.
                    Ultricies sagittis amet justo turpis in iaculis nibh risus.
                </div>
            </div>
            <img src="../static/images/bugbustes2.png" width="300px" >
        </div>
    </div>
    <div class="main-st" style="background-color: rgba(230, 251, 230, 0.4)">
        <div class="h1 font1" > Научи свою модель</div>
        <div class="base font1">С помошью нашей мега крутой разработки каждый сможет создать свою модель и заюзать это мега офишительный продукт в своей компании или просто по фану, ХД</div>
        <form action="register"><button class="but1 font1" >Начать</button></form>
    </div>
    <div class="main-st row">
        <div>
            <div class="h1 font1" >О нас</div>
            <div class="base font1">Жили были дед да бабка была у них внучка. внучка была не простая а с ягодкой на голове. ягодка эта была самая красивая на свете, ну очень красивая вы только посмотрите на неё. в ночи она светилась ярче луны а днем ярче фигнала богдана, однако это и было её проклятьем. из-за этого дети не хотели играть с ней и обозлилась внучка на всех детей во дворе, но злюкой она была той еще то подножку подставит то еще чего учадит и тд мне лень дописывать концовку сами придумывайте уроды</div>
            
        </div>
        <img src="../static/images/fff.png" align="right">
    </div>
    <div class="butt row" style="background-color: rgba(230, 251, 230, 0.4)">
        <div class="sign font1">(c)BugBusters </div>
        <div class="sign font1">
            <div>Контакты</div>   
            <div>+7(***)***-**-**</div>   
            <div>+7(***)***-**-**</div>   
        </div>
        <div class="sign font1">
            <div>Адрес</div>   
            <div>а я вам</div>   
            <div>не скажук</div>  
        </div>
    </div>
</body>
</html>